<div *ngIf="cart && cart.id">
  <app-cart-container [cart]="cart" [isActiveCart]="true"></app-cart-container>
  <
  <p>Total: <b>R$ {{ cart.totalPrice }}</b></p>
  <div>
    <button mat-button="filled" (click)="proceedToCheckout()">
      Proceed
    </button>
    <button mat-button="filled" (click)="confirmDelete()">
      Delete
    </button>
    <button mat-button="filled" (click)="confirmStateChange(cart.id)">
      Inactivate
    </button>
  </div>
</div>

<p *ngIf="!cart || !cart.id">There's no active cart! Browse the gallery and add products to generate a cart</p>
